* {
    /* margin: 0; */
    box-sizing: border-box;
}

/* Radical Pizza Google Font import */
.rad {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
}

:root {
    --cheese-orange: #f38236;
    --pepperoni-red:  #990000;
}

body {
    background-color: var(--pepperoni-red);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    background-color: #ffffff;
    width: 70%;
    margin: 0 auto; /* This centers the div */
    padding: 0 1rem 2rem 1rem;
}

#header {
    background-color: #f0efef;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

#header img {
    max-width: 200px;
    float: right;
    border-radius: .25rem;
}

#header h1 {
    color: var(--cheese-orange);
    font-weight: 700;
    font-size: 2.2rem;
}

#header h2 {
    font-size: 1rem;
}

#contact-btn, #order-button {
    border: none;
    background-color: var(--cheese-orange);
    border-color: var(--cheese-orange);
    padding: .5rem .75rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    border: 1px solid var(--cheese-orange);
    border-radius: .25rem;
    margin: 0rem 0rem 1rem 0rem;
    padding: .75rem;
}

label {
    display: block;
    padding-bottom: 5px;
}

legend {
    color: var(--cheese-orange);
    font-variant: small-caps;
    font-size: 1.5rem;
    padding-left: 1rem;
    width: 100%;
}

fieldset {
    border: 2px solid var(--pepperoni-red);
}

option {
    height: 1rem;
}

textarea {
    resize: none;
}